// Variables de couleurs :

$color-primary: #3b4b54;
$color-primary-light-70: rgba(59, 75, 84, 0.7);
$color-primary-light-30: rgba(59, 75, 84, 0.3);

$color-secondary: #e7b846;
$color-secondary-light-70: rgba(231, 184, 70, 0.7);
$color-secondary-light-30: rgba(231, 184, 70, 0.3);

$color-third: #fafeff;
$color-third-light-70: rgba(250, 254, 255, 0.7);
$color-third-light-30: rgba(250, 254, 255, 0.3);

$body-color: rgba(59, 75, 84, 0.3);


// Variables pour les marges et les espacements 
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 32px;


